body{
    background-color:#fff;
    color:black;
}
#data{
    margin-top: 42px;
    float:left;
    table-layout:fixed;
    width:100%;

}
.hidden {
    display: none ;
}
.hidden td {
    font-size:10pt;
    font-weight:lighter;
    text-align:center;
}
.voted{
    background-color:green;
}
tr:hover{
    filter: brightness(115%);
}


td, tr, th{
    text-align:center;
    width:25em;
    line-height:2em;
    vertical-align:top;
}
p {
    text-align:center;
    width:8em;
    line-height:2em;
}

.X {
    background-color:#000000;
    color:white;   
}

.X table{
    background-color:#000000;
    color:white;
}

.HET {
    background-color:#7D0839;
    color:white;
}
.HET table{
    background-color:#7D0839;
    color:white;
}
.HOMO-R {
    background-color:#065D4E;
    color:white;
}
.HOMO-R table{
    background-color:#065D4E;
    color:white;
}
.HOMO-A1 {
    background-color:#B26321;
    color:white;
}
.HOMO-A1 table{
    background-color:#B26321;
    color:white;
}
.ADO-R {
    background-color:#0FA38A;
    color:white;
}

.ADO-R table{
    background-color:#0FA38A;
    color:white;
}
.ADO-A1 {
    background-color:#B54373;
    color:white;
}
.ADO-A1 table{
    background-color:#B54373;
    color:white;
}
.None  {
    background-color:#E6E1E3;
}
.bulk{
    background-color: #b5f0b4;
}

.None table {
    background-color:#E6E1E3;
}
.None td {
    color:black;
}
.info{color:black;}

.cell{
    width:8em;
}

#button{
    position:fixed; 
    background-color:white;
    opacity: 0.85;
    width:100%; 
}
