body{
    background-color:#fff;
    color:black;
}
#data{
    margin-top: 42px;
    float:left;
    table-layout:fixed;
    width:100%;

}
.params {
    color:#515151;
    margin:20px;
    background-color:#e6e1e3;
    width:100%;
    border-radius: 10px;
}
.params p {
    text-align:left;
}
.params_name_row {
    font-size:larger;
    font-weight:bolder;
}
.clicker {
    text-align: center;
    width: 100%;
    
}
.clicker:hover{
    background-color:white;
    opacity: 0.5;
    color: black;
}

.hidden {
    display: none ;
}
.hidden td {
    font-size:10pt;
    font-weight:lighter;
    text-align:center;
}
.voted{
    background-color:green;
}

.voted_unknown{
    background-color:gray;
}
tr:hover{
    filter: brightness(115%);
}


td, tr, th{
    text-align:center;
    width:25em;
    line-height:2em;
    vertical-align:top;
}
p {
    text-align:center;
    width:8em;
    line-height:2em;
}

.CONFLICT {
    background-color:#000000;
    color:white;   
}

.CONFLICT table{
    background-color:#000000;
    color:white;
}

.HET-C1 {
    background-color:#7D0839;
    color:white;
}
.HET-C1 table{
    background-color:#7D0839;
    color:white;
}

.HOMO-C1 {
    background-color:#065D4E;
    color:white;
}
.HOMO-C1 table{
    background-color:#065D4E;
    color:white;
}
.HOMO-A1 {
    background-color:#B26321;
    color:white;
}
.HOMO-A1 table{
    background-color:#B26321;
    color:white;
}
.HET-C2 {
    background-color:#B54373;
    color:white;
}
.HET-C2 table{
    background-color:#B54373;
    color:white;
}

.HOMO-C2 {
    background-color:#0FA38A;
    color:white;
}

.HOMO-C2 table{
    background-color:#0FA38A;
    color:white;
}

.HET-C3 {
    background-color:#EBA5C3;
    color:black;
}
.HET-C3 table{
    background-color:#EBA5C3;
    color:black;
}
.HOMO-C3 {
    background-color:#87E1D2;
    color:black;
}

.HOMO-C3 table{
    background-color:#87E1D2;
    color:black;
}

.UNKNOWN {
    background-color:#424242;
    color:white;   
}

.UNKNOWN table{
    background-color:#424242;
    color:white;
}

.bulk{
    background-color: #b5f0b4;
}

.ZERO-READS  {
    background-color:#FFFFFF;
    opacity:0.0;
}
.ZERO-READS table {
    background-color:#FFFFFF;
}
.ZERO-READS td {
    color:black;
}

.NOT-INFORMATIVE  {
    background-color:#BBBBBB;
}
.NOT-INFORMATIVE table {
    background-color:#BBBBBB;
}
.NOT-INFORMATIVE td {
    color:black;
}

.info{color:black;}

.cell{
    width:8em;
}

#button{
    position:fixed; 
    background-color:white;
    opacity: 0.85;
    width:100%; 
}

